
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-block sidebar collapse">
<div class="position-sticky pt3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
          <svg class="bi"><use xlink:href="#house-fill"/></svg>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#stakeholders"/></svg>
          Clientes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#products"/></svg>
          Productos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#sales"/></svg>
          Ventas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#buy"/></svg>
          Compras
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#puzzle"/></svg>
          Usuarios
        </a>
      </li>
    </ul>
</div>
</nav>
